{% extends "site1.html" %}
{% block code %}
<form action="{{ url_for('hello') }}" method="post">
 	<table style="margin-top: 150px">
 		<tr>
 			<td>
 			   ENTER TWITTER USERNAME1:
 			 </td>
 			 <td>
 			   <input type="text" placeholder="@username1" style="height: 25px" name="name1" size="50px" required>
 			 </td>
 		</tr>
 		<br>
 		<br>
 		<tr>
 			<td>
 			   ENTER TWITTER USERNAME2:
 			 </td>
 			 <td>
 			   <input type="text" placeholder="@username2" style="height: 25px" name="name2" size="50px" required>
 			 </td>
 		</tr>
 		
        <tr>
           <td>
              <input type="submit"  size="80px" value="submit" name="submit" class="button" style="float: right;">
            </td>
         </tr>
 </table>
 </form>
{% endblock %} 